* {
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: Lucida, sans-serif;
}

/*HEADER*/

header {
  display: flex;
  justify-content: center;
  margin: 18px 0px 11px 0px;
}

.phone {
  width: 22px;
  height: 22px;
  margin: 5px;
}

.ph_number1 {
  color: #5e696d;
  font-family: Arial, sans-serif;
  font-size: 18px;
  margin-right: 8px;
  margin-top: 5px;
}

.ph_number2 {
  color: #5e696d;
  font-family: Arial, sans-serif;
  font-size: 18px;
  margin-right: 17px;
  margin-top: 5px;
}

.autorize {
  display: flex;
  justify-content: center;
  width: 495px;
  height: 25px;
  background: linear-gradient(to top, #1f6787, #0d3458);
  font-family: Lucida, Tahoma, sans-serif;
  font-size: 10.91px;
  border: 1px solid #a6c3cf;
  border-radius: 3px;
  box-shadow: 3px 3px 4px 0px rgba(180,180,180,1);
}

.doll {
  margin: 4px 3px 3px 7px;
}

.autorize form {
  display: flex;
  justify-content: center;
}

.autor {
  width: 113px;
  height: 16px;
  margin: 3px 6px 4px 0px;
}

.autorize a {
  text-decoration: none;
  color: #ffffff;
  margin: 5px 2px 5px;
}

.smallbar {
  width: 1px;
  height: 10px;
  background-color: #ffffff;
  border-left: 1px solid #4b6983;
  margin: 8px 2px;
}

.autorize .forgot {
  margin-left: 20px;
  color: #bfbfbf;
  font-size: 12px;
  text-decoration: underline;
}

.links {
  margin: 2px 0px 10px 17px;
  padding: 0px 9px;
  border: 1px solid #c1c8cb;
  border-radius: 10px;
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
}

/*HEADER ENDS HERE*/
/*NAVIGATION*/

nav {
  display: flex;
  justify-content: space-around;
  width: 908px;
  height: 34px;
  background: linear-gradient(to top, #010101, #2d3236);
  margin-top: 6px;
  border: 1px solid #0d1642;
  border-top: 1px solid #2c345a;
  border-bottom: 1px solid #0a1030;
  border-radius: 5px;
  box-shadow: 0px 2px 5px 1px rgba(82,81,82,1);
  box-shadow: inset 0px 10px 10px -5px rgba(77,86,99,1);
}

.navigation {
  display: flex;
  justify-content: center;
  list-style: none;
  height: 34px;
}

.navigation li {
  margin: 3px;
  padding: 5px 14px 4px 15px;
}

.navigation a {
  text-decoration: none;
  color: white;
  font-size: 13.64px;
}

.navigation li:hover {
  background: linear-gradient(to top, #0d3458, #1f6787);
  border-bottom: 1px solid #09233b;
  border-radius: 10px;
}

.cart {
  color: #929b9f;
}

.commodities {
  color: #104c77;
}

.sum {
  color: #104c77;
}

/*MAIN PART STRATS HERE*/

main {
  display: flex;
  justify-content: space-between;
  width: 908px;
  margin: 16px 0px 37px;
}

/*LEFT COLUMN*/

.catalog {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 180px;
  height: 24px;
  margin: 4px 9px 15px 0px;
  border: 1px solid  #8b979c;
  border-radius: 13px;
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
  color: #114165;
  font-size: 12.73px;
  text-transform: uppercase;
}

.list-head {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 148px;
  height: 26px;
  border: 1px solid #8b979c;
  border-radius: 14px;
  color: #114165;
  text-transform: uppercase;
}

.left_column li {
  list-style: circle;
  margin: 0px 0px 10px 47px;
}

.left_column a {
  text-decoration: none;
  color: #465961;
  font-family: Lucida, Tahoma, sans-serif;
  font-size: 12.73px;
}

.left_column a:hover {
  font-family: Arial, Tahoma, sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
  color: #0c3256;
  text-decoration: underline;
}
/*END OF LEFT COLUMN*/
/*CIRCLE - LIST POINTER*/
.circle {
  display: block;
  position: relative;
  margin: 3px;
}

.inner-circle {
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  position: absolute;
  margin: 5px 5px;
}

.outer-circle {
  width: 20px;
  height: 20px;
  background-color: #114165;
  border-radius: 10px;
}
/*END OF CIRCLE*/
/*MIDDLE COLUMN START*/
.middle_column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 526px;
  height: 628px;
  border-bottom: 1px solid #a1b3bb;
  border-radius: 5px;
  background: linear-gradient(to top, #93a7b0, #e4e7e8);
}

.tire {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 146px;
  height: 184px;
}

.tire h6 {
  font-size: 14.59px;
  color: #206988;
  margin: 0px 18px;
}

.name {
  font-size: 12.77px;
}

.tire img {
  width: 137px;
  height: 127px;
  background-color: #ffffff;
  border: 1px solid #a7b1b4;
  border-radius: 5px;
}

.tire_price {
  font-family: Arial, Tahoma, sans-serif;
  font-style: italic;
  font-size: 16px;
  font-weight: bold;
  color: #114165;
}

/*RIGHT COLUMN START*/

.brand {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 180px;
  height: 24px;
  margin: 0px 0px 14px 9px;
  border: 1px solid  #8b979c;
  border-radius: 13px;
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
  color: #114165;
  font-size: 14px;
  text-transform: uppercase;
}

.right_column .list-head {
  margin-bottom: 10px;
}

.right_column form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 190px;
}

.variants-1 {
  display: flex;
  flex-direction: column;
}

.variants-2 {
  display: flex;
  flex-direction: column;
}

form input {
  margin-right: 15px;
}

form label {
  margin: 0px 0px 10px 34px;
  color: #465961;
  font-family: Lucida, Tahoma, sans-serif;
  font-size: 12.73px;
}

form button {
  width: 80px;
  height: 25px;
  margin-top: 9px;
  background: linear-gradient(to top, #0d3458, #1f6787);
  border-radius: 13px;
  border: 1px solid #697b8b;
  color: #ffffff;
  font-family: Arial, Tahoma, sans-serif;
  font-size: 11px;
  text-transform: uppercase;
}

/*FOOTER START*/
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 910px;
  height: 100px;
  margin-top: 24px;
  border-top: 1px solid #242c3e;
  border-left: 1px solid #242a3c;
  border-right: 1px solid #223346;
  background: #213a4d;
}

footer ul {
  display: flex;
  justify-content: center;
}

footer li {
  list-style: none;
}

footer a {
  font-family: Arial, Tahoma, sans-serif;
  font-size: 12px;
  color: #bec6c9;
  text-decoration: none;
}

footer a:hover {
  color: #52abcb;
}

footer .footbar {
  width: 1px;
  height: 11px;
  background: #8d989f;
  border-left: 1px solid #7a878f;
  margin: 5px 12px;
}

footer .copyright {
  font-family: Arial, Tahoma, sans-serif;
  font-size: 10px;
  color: #7f4740;
}
